.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
